<div class="container mt-5 p-5">
<div class="row justify-content-center">
  <div class="col-sm-10">
  <form [formGroup]="searchForm" (submit)="searchPhrase()">
    <div class="row">
      <div class="col-sm-8 mb-3">
        <input type="text" formControlName="searchtext" class="form-control" placeholder="Search">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-warning " [disabled]="searchForm.invalid">Search</button>
        <div class="error" *ngIf="searchForm.hasError('yourErrorName')">
          Come on, give us a movie or tv series name to work with
         </div>
      </div>
    </div>
  </form>
  </div>
</div>

  <div class="row ">
    <div class="col-sm-10" *ngFor="let sr of searchResults">
        <div class="row mt-4">
          <div class="col-sm-3" *ngIf="sr.poster_path" >
            <img src="https://image.tmdb.org/t/p/original/{{ sr.poster_path }}" alt="{{ sr.title }}"
              [routerLink]="['/movie',sr.id]"
            >
          </div>
          <div class="col-sm-9" *ngIf="sr.title">
            <h5 class="text-light movietitle" [routerLink]="['/movie',sr.id]">{{ sr.title }}</h5>
            <h6 class="mb-3">Rating  {{ sr.vote_average }}| Released {{ sr.release_date | date:'dd MMM yyyy'}} | {{ sr.media_type | titlecase}}</h6>
            <p class="mt-4 mb-4">{{ sr.overview }}</p>

          </div>
        </div><hr class="hr">
    </div>
  </div>
</div>
