.carousel-inner .carousel-item img{
  height: 200px;
  object-fit: cover;
}

.navbar{
  background-color: rgba(7, 7, 7, 0.5);
}

.navbar-brand{
  background-color:rgb(255, 196, 0);
  color: rgba(2, 2, 2);
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin: 3px;;
}