/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Muli';
    margin: 0;
    padding: 0;
    background-color: black !important;
    font-family: 'Ubuntu','sans-serif';
}
.navbar .navbar-brand{
    color: rgb(255, 196, 0);
    font-weight: bold;
    padding-left: 5px;

}

.navbar-nav .nav-item .nav-link, .carousel-control-next{
    color: rgb(255, 196, 0);

}


