/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Muli';
    margin: 0;
    padding: 0;
    background-color: black !important;
    font-family: 'Ubuntu','sans-serif';
    overflow-x: hidden;
}
.navbar .navbar-brand{
    color: rgb(255, 196, 0);
    font-weight: bold;
    padding-left: 5px;
    
}

.navbar-nav .nav-item .nav-link, .carousel-control-next{ 
    color: rgb(255, 196, 0);
   
}

.carousel .carousel-inner .carousel-item{
    background-position: center !Important;
    background-size: contain !Important;
    object-fit: cover;  
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 5px 5px 5px 5px;
    color:  rgb(255, 196, 0);
}

img {
    width:100%;
    max-height: 800px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .row{
    background-color: inherit;
  }